body{
    background-color: lightgrey;
}
h1{
    color:blue;
}
.container{
    border: 2px solid blue;
    text-align: left;
    margin:30px;
    padding:40px;
}
#XML{
    border: 1px solid green;
    width:100px;
    background-color: lightslategray;
    text-align: center;
    margin-left: 30px;
}
#JS{
    border: 1px solid green;
    width:200px;
    background-color: lightslategray;
    text-align: center;
}